{% extends('base.html.twig') %}

{% block title %}Editarea{% endblock %}

{% block body %}
  {{ form(form) }}

  <div class="text-center mt-5">
    <a class="btn btn-primary" href="{{path('index')}}">Inapoi</a>
  </div>
{% endblock %}